* {
    font-family: "Montserrat", sans-serif;
}

/* header*/

header {
    display: flex;
    padding: 80px 180px;
    flex-direction: row;
    justify-content: space-between;
}

#logo-site {
    justify-content: left;
    margin-left: 60px;
}

.nav-bar {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    margin-right: 60px;
    display: flex;
}

.li {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 12px;
}

.li:hover {
    font-weight: bold;
}


.li-ld {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 12px;
}

.li-ld:hover {
    transform: scale(1.2);
}


/*body*/

.body-filho {
    padding: 100px 200px;
    margin-left: 60px;
    justify-content: space-between;
    color: #262626;

}

#title-nathy {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 72px;
    margin-bottom: 12px;
    
}

#text-nathy {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 40px;
    word-spacing: 2px;
    margin-top: 10px;
}

#title-nathy-bold {
    font-weight: 500;
    color: #EF5454;
}


/*banners*/

.title-banner {
    font-weight: 400; 
    font-size: 32px;
    margin-left: 60px;
    padding: 200px;
}

.banner-container-um {
    display: flex;
}

.banner-container-um {
    padding: 20px 200px;
    margin-left: 60px;
}


#h1-banner-um {
    color: #EF5454; 
    font-weight: 300; 
    font-size: 26px;
    margin-bottom: 20px;
}

#h2-banner-um {
    margin-top: 20px;
    margin-bottom: 14px;
    font-weight: 500; 
    font-size: 38px;
}

#p-banner-um {
    margin-top: 14px;
    font-weight: 300;
    font-size: 20px
}

#img-banner-um {
    flex: 1;
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    padding: 0px 100px;
}








@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 1680px) {
    .body-filho {
        padding: 40px 40px;
        margin-left: 60px;
        justify-content: space-between;
    
    }
    
    #title-nathy {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 72px;
        word-spacing: 4px;
        margin-bottom: 2px;
        
    }
    
    #text-nathy {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 52px;
        word-spacing: 4px;
        margin-top: 20px;
    }
    
    #title-nathy-bold {
        font-weight: 500;
        color: #EF5454;
    }


}

@media screen and (max-width: 768px) {

    header {
        background-color: salmon;
        display: flex;
        padding: 30px 30px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #logo-site {
        justify-content: left;
        margin-left: 30px;
    }
    
    .nav-bar {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        color: aliceblue;
        text-decoration: none;
        font-size: 16px;
        margin-right: 36px;
        margin-top: 8px;
        display: flex;
    }
    

    .body-filho {
        padding: 36px 36px;
        margin-left: 30px;
        justify-content: space-between;
    
    }
    
    #title-nathy {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 44px;
        word-spacing: 1px;
        margin-bottom: 2px;   
    }
    
    #text-nathy {
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        font-size: 24px;
        margin-top: 8px;
    }
    
    #title-nathy-bold {
        font-weight: 500;
        color: #EF5454;
    }
}


